.blog_post_link
{
    color: inherit;
    text-decoration: none;
}
div.blog_post_item
{
    border-bottom: 1px solid rgb(107, 107, 107);
}
div.blog_post_date
{
    color: rgb(107, 107, 107);
}

div.blog_post_desc
{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h3.blog_post_title{
    font-family: Helvetica, Arial, sans-serif;
}
#name_title {
    font-family: Verdana, monospace;
    font-weight: bold;
    font-size: 40px;
    font-weight: normal;
}
#bio{
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #797979;
    font-size: 20px;
}
#simpcode {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.7s;
    padding: 0px;
    margin: 0px;
}
.icon {
    width: 40px;
    margin-right: 10px;
}
#mepic{
    width: 240px;
    height: 240px;
    border-radius:120px;
}
#dpic {
    text-align: right;
    margin-top: 12px;
}
#ddesc {
    max-width: 550px;
    padding: 20px;
    text-align: left;
}

.timespan {
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #bbb;
    min-width: 50px;
}
.timespan2 {
    font-size: 14px;
    text-align: right;
    padding-right: 15px;
    color: #747474;
    min-width: 50px;
}

div.ico {
    border-left: 2px solid #cfcfcf;
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 3px;
}
#exp_ico {
    border-left: 2px solid #cfcfcf;
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 3px;
    width: 97px;
}
img.ico {
    border-radius: 5px;
    max-width: 60px;
}
div.ico2 {
    border-left: 2px solid #7c7c7c;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 3px;
}
img.ico2 {
    border-radius: 5px;
    max-width: 45px;
}
.entry-dot {
    position: absolute;
    top: 0px;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}
.degree-dot {
    position: absolute;
    left: -10px;
    max-width: 20px;
    background-color: #ffffff;
}
.desc {
    font-size: 17px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.hl_btn{
    padding: 0px 0px 0px 5px;
    font-size: 14px;
}
.hl_btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #595959;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #aeaeae;
    --bs-btn-hover-border-color: #01036c;
    --bs-btn-active-color: #014609;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #000;
    z-index: 9999999;
    position: relative;
}
.hl_card-body{
    padding: 0px;
    background-color: #f8f8f8;
}
.hl_card-body>ul{
    margin-bottom: 0px;
    margin-top: 0px;
}
.exp_btn{
    padding: 0px 0px 0px 2px;
    font-size: 10px;
    line-height: 0.7;
}
.exp_btn-primary{
    --bs-btn-color: #003d0a;
    --bs-btn-bg: #d9d9d9;
    --bs-btn-border-color: #525252;
    --bs-btn-hover-color: #cfcfcf;
    --bs-btn-hover-bg: #027615;
    --bs-btn-hover-border-color: #525252;
    --bs-btn-active-color: #bdbdbd;
    --bs-btn-active-bg: #006311;
    --bs-btn-active-border-color: #000;
}
#exp_btn_div{
    margin-top: -20px;
}
.exp_card-body{
    padding: 0;
    border: none;
    background-color: none;
}
.collapsed>img{
    transform: rotate(180deg);
}
p.skill{
    background-color: #2d4e39;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline;
    white-space: nowrap;
    font-size: 13px;
    color: #dddbdb;
}
div.skill{
    text-align: right;
    color: #5c5c5c;
    font-size: 13px;
}
div.row_skill{
    margin-top: -4px;
    margin-bottom: -4px;
}
hr.cv_line{
    border: 1px solid #8a8a8a;
    margin-bottom: 10px;
    margin-top: -5px;
}
.cata{
    font-size: 12px;
    font-style: oblique;
    color:#8a8a8a;
}
h6{
    margin-top: 0px;
    margin-bottom: 0px;
}
.summ{
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
}
img.project{
    max-width: inherit;
    border: 1px solid #363636;
    border-radius:5px;
}
a.project{
    max-width: inherit;
    margin: 0px;
    padding: 0px;
}
.project{
    max-width: 970px;
}
.pubs{
    max-width: 1000px;
}
a.pubs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
h5.pubs{
    font-size: 10px;
}
h4.pubs{
    font-size: 13px;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 2px;
}
#pub{
    margin-top: 10px;
    font-size: 14px;
    color:#797979;
}
@media (max-width: 992px) {
    #mepic{
        width: 200px;
        height: 200px;
        border-radius:100px;
    }
    #name_title {
        font-size: 35px;
    }
    #bio {
        font-size: 16px;
    }
    div.skill{
        min-width: auto;
    }
}
@media (max-width: 767px) {
    #dpic {
      text-align: center;
    }
    #ddesc {
        text-align: center;
        max-width: 700px;
        padding: 20px;
    }
    .desc {
        font-size: 15px;
        padding-left: 0px
    }
    img.ico {
        max-width: 40px;
        padding-right: 3px;
    }
    div.ico {
        padding-left: 5px;
    }
    #exp_ico {
        padding-right: 3px;
        padding-left: 5px;
        width: 40px;
    }
    img.ico2 {
        border-radius: 5px;
        max-width: 25px;
    }
    div.ico2 {
        padding-left: 15px;
        padding-right: 5px;
    }
    div.skill{
        text-align: left;
    }
    .projects{
        max-width: 400px;
    }
}
@media (max-width: 540px) {
    .project{
        max-width: 300px;
    }
}